{% extends "dash/homeview.html" %}

{% block title %}Login{% endblock title %}
{% load socialaccount %}

{% block stock  %}


<form method="post">
    <h2>Login to your account</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <a href="#"><input type="submit" value="Login"></a>
    <p style="text-align: center; margin-top: 20px;">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    <p style="text-align: center; margin-top: 20px;"> forgot password? <a href="{% url 'identifyview' %}">Reset Password</a>


    <p style="text-align: center; margin-top: 20px;">--------------------- Or login with ---------------------</p>
    <div class="text-center">
        {% providers_media_js %}
        {% provider_login_url "google" as google_login_url %}
        <a href="{{ google_login_url }}" >
         <img src="https://tse2.mm.bing.net/th?id=OIP.yePZ7F93zWGOJ2Mlb5vpewHaB4&pid=Api&P=0&h=180" alt=""
         style='
         height:50px;
         width:fix-content
         cursor:pointer'
         >


        </a>
    </div>
</form>
{% endblock stock %}